.filterBar{
    position: fixed;
    height: min(10rem, 10vh);
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2 );
    border: 0.2rem solid rgba(255, 255, 255, 0.2 );
    backdrop-filter: blur(5px);
    background: #9796f0;
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    background: linear-gradient(to right, #fbc7d4, #9796f0);
}

.filterBarWrapper{
    width: 60vw;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.filterBarInputWrapper{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.filterBarInputWrapper > input{
    appearance: none;
}

.filterBarInputWrapper > label:hover{
    cursor: pointer;
}

.filterBarInputWrapper > label{
    background: linear-gradient(to bottom right, #fbc7d4, 10%, #9796f0);
    box-shadow: 0 0.1rem 0.5rem 0 rgba(10, 10, 10, 0.2);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    text-transform: capitalize;
}

.filterBarInputWrapper > input:checked + label{
    box-shadow: inset 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 43.75rem) {

    .filterBar{
        height: auto;
        padding: 2rem;
    }
    .filterBarWrapper{
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }
}